{% extends 'registration/base.html' %}
{% block title-meta %}مقالات{% endblock title-meta %}
{% block title %}مقالات{% endblock title %}
{% block Main %}

{% load crispy_forms_tags %}
<div class="card card-primary">
    <div class="card-header">
      <h3 class="card-title">مقاله جدید</h3>
    </div>
<form method = "post" enctype="multipart/form-data">
    {% csrf_token %}
    <div class="row">
        <div class="col-6">
            {{form.title|as_crispy_field }}
        </div>
        <div class="col-12">
            {{form.decription|as_crispy_field }}
        </div>
        <div class="col-6">
            {{form.slug|as_crispy_field }}
        </div>
        <div class="col-6">
            {{form.publsihDate|as_crispy_field }}
        </div>
        {% if user.is_superuser %}
            <div class="col-6">
                {{form.status|as_crispy_field }}
                {{form.user|as_crispy_field }}
            </div>
            <div class="col-6">
                {{form.picture|as_crispy_field }}
                {{form.category|as_crispy_field }}
            </div>

            {% else %}
                <div class="col-6">
                    {{form.category|as_crispy_field }}
                </div>

                <div class="col-6">
                    {{form.picture|as_crispy_field }}
                </div>
            
            {% endif %}
        
    </div>
    <button class="btn btn-success">ثبت</button>
    {% if request.resolver_match.kwargs.pk %}
        {% if request.user.is_superuser %}
        <a href="{% url 'account:article-delete' request.resolver_match.kwargs.pk %}" class="btn btn-danger">حذف</a>
        {% endif %}
    {% endif %}
</form>

</div>
{% endblock Main %}


