{% extends 'registration/base.html' %}
{% block title-meta %}مقالات{% endblock title-meta %}
{% block title %}مقالات{% endblock title %}
{% block Main %}
<div class="card">
  <div class="container">
    {% if object_list|length != 0 %}

    <div class="card-body table-responsive p-0">
      <table class="table table-hover table-striped">
        <thead>
          <tr>
            <th>موضوع</th>
            <th>تصویر</th>
            <th>نویسنده</th>
            <th>خلاصه</th>
            <th>دسته بندی</th>
            <th>مقاله ویژه</th>
            <th>وضعیت</th>
          </tr>
        </thead>
        <tbody>
          {% for article in object_list %}
          <tr>
            <td><a target="_blank" href="{% url 'blog:detail' article.slug %}">{{article.title}}</a></td>
            <td><img width=100 src="{{article.picture.url}}"></img></td>
            <td>{% if article.user == None %}
              ناشناس
              {% else %}
              {{article.user.get_full_name}}
              {% endif %}</td>
            <td>{{article.decription|striptags|truncatechars:"50"}}</td>
            <td>
              <span class="tag tag-success">{% for cat in article.category.publishd %} <a
                  href="{% url 'blog:category' cat.slug %}">#{{cat}}</a>{% endfor %}</span>
                </td>
            <td>
              {% if article.is_special %}
              <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-check-circle-fill" viewBox="0 0 16 16">
                <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-3.97-3.03a.75.75 0 0 0-1.08.022L7.477 9.417 5.384 7.323a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-.01-1.05z"/>
              </svg>
          {% else %}
          <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-dash-circle" viewBox="0 0 16 16">
            <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
            <path d="M4 8a.5.5 0 0 1 .5-.5h7a.5.5 0 0 1 0 1h-7A.5.5 0 0 1 4 8z"/>
          </svg>
            {% endif %}
            
          </td>
            <td>{% if article.status == "W" %}
              <div class="text-center">
                <span class="badge badge-success"> منتشر شده </span>
                <br>
                <a target="_blank" href="{% url 'blog:detail' article.slug %}"> <span class="badge badge-primary"> نمایش
                    مقاله </span> </a>
                    <br>
                <a class="badge badge-warning" href="{% url 'account:article-update' article.pk %}"> ویرایش </a>
                <br>
                <a class="badge badge-danger" href="{% url 'account:article-delete' article.pk %}"> حذف </a>
                <br>
              </div>
              {% else %}
              <div class="text-center">
                
                <span class="badge badge-secondary ">منتشر نشده</span>
                <br>
                <a href="{% url 'blog:preview' article.slug %}">
                  <span class="badge badge-primary ">پیش‌نمایش</span>
                </a>

                <br>
                <a class="badge badge-warning " href="{% url 'account:article-update' article.pk %}"> ویرایش </a>
                <br>
                <a class="badge badge-danger " href="{% url 'account:article-delete' article.pk %}"> حذف </a>
              </div>
              {% endif %}
            </td>
          </tr>
          {% endfor %}


        </tbody>
      </table>
    </div>

    {% else %}
    <div class="card-body text-center m-5 p-5">
      <p class="bg-warning border border-info p-3">فعلا مقاله ای برای نمایش وجودد ندارد</p>

    </div>
    {% endif %}

  </div>
  {% endblock Main %}