{% load static %}
{% load widget_tweaks %}
<!DOCTYPE html>
<!---Coding By CoderGirl | www.codinglabweb.com--->
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>ثبت نام</title>
  <!---Custom CSS File--->
   <link href="{% static '\registration\css\style_login.css' %}" rel="stylesheet" />
</head>
<body>
  <div class="container">

    <input type="checkbox" id="check">
    <div class="login form">
      <header>ثبت نام</header>
        {% if form.errors %}
          {{form.errors}}
        {% endif %}
        <form method="post">
        {% csrf_token %}
        <p>{{form.non_field_errors}}</p>
        {{form.username|attr:'placeholder = نام‌کابری'}}
        {{form.email|attr:'placeholder = ایمیل'}}
        {{form.password1|attr:'placeholder= گذرواژه'}}
        {{form.password2|attr:'placeholder= تکرارگذرواژه'}}
        <a href="{% url 'login' %}">وارد شوید</a>
        <input type="submit" class="button" value="ثبت نام">
      </form>
    </div>
  </div>
</body>
</html>
